.navbar-brand {
    font-family: 'Arya', sans-serif;
    font-size: 32px;
}

.nav-link {
    font-size: 24px;
}

h3 {
    font-family: 'Arya', sans-serif;
    text-align: center;
}

.header3 {
    font-family: 'Arya', sans-serif;
    font-size: 24px;
    font-weight: 900;
}

.space-right-sm {
    margin-right:10px;
}

.color-pink {
    color: #ff5c5c;
}